<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14334b90-cf0e-4809-b9b4-8ff1e580c7ed" Alias="[Contentment] Data Picker - Test Data Source" Level="2">
  <Info>
    <Name>[Contentment] Data Picker - Test Data Source</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+UI+Builder</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Cms.v13_x.UIBuilder.TestDataPickerSource, Umbraco.Cms.13.x",
      "value": {}
    }
  ],
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ListDataPickerDisplayMode, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "pageSize": 12,
  "overlaySize": [
    "medium"
  ],
  "hideSearch": "0",
  "maxItems": 0,
  "enableDevMode": "0"
}]]></Config>
</DataType>